<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaxDrive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
<connectionStrings>
    <add name="connectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Onabote\Documents\Visual Studio 2013\Projects\TSS_Ogun\TaxDrive\Data\TaxDrive.accdb;Jet OLEDB:Database Password=james007icma"/>
    <add name="TaxDrive.Properties.Settings.TaxDriveConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\TaxDrive.accdb;Jet OLEDB:Database Password=james007icma" providerName="System.Data.OleDb"/>
</connectionStrings>
    <applicationSettings>
        <TaxDrive.Properties.Settings>
            <setting name="TaxDrive_CollectionManager_CollectionManager" serializeAs="String">
                <value>http://74.208.222.198/State_Ogun/collectionmanager.asmx</value>
            </setting>
        </TaxDrive.Properties.Settings>
    </applicationSettings>
</configuration>
