<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Collection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Collection.Properties.Settings.TaxSmartSuiteConnectionString" connectionString="Data Source=.;Initial Catalog=TaxSmartSuiteRevisedABK;Persist Security Info=True;User ID=sa;Password=1975" providerName="System.Data.SqlClient" />
    <add name="Collection.Properties.Settings.TaxSmartSuiteRevisedConnectionString" connectionString="Data Source=.;Initial Catalog=TaxSmartSuiteRevisedABK;User ID=sa;Password=1975" providerName="System.Data.SqlClient" />
    <add name="Collection.Properties.Settings.TaxSmartSuiteRevisedNewOG14022017ConnectionString" connectionString="Data Source=.;Initial Catalog=TaxSmartSuiteRevisedABK;User ID=sa;Password=1975" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RemoteServerName" value="" />
    <add key="SecurityKey" value="ReemsonlineKeyPass7676777" />
    <add key="IsCentralData" value="0" />
    <add key="BaseURL" value="https://liveservices.ogunstaterevenue.com/barcode" />
    <add key="serviceBaseUrl" value="https://liveservices.ogunstaterevenue.com/PaymentCollectionsService" />
    <add key="CentralCode" value="0009" />
    <add key="marquee" value=" Tax Smart Receipt Collection Manager  --- Powered by ICMA SERVICES" />
    <add key="marquee1" value="Smart Receipt   --- Powered by ICMA SERVICES" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <Collection.Properties.Settings>
      <setting name="Collections_Reemsonline_GetNewDate" serializeAs="String">
        <value>http://reemsonline.com/getnewdate.asmx</value>
      </setting>
      <setting name="Collections_TestReceiptServices_ReceiptService" serializeAs="String">
        <value>http://localhost/oyo/ReceiptService.asmx</value>
      </setting>
      <setting name="Collections_Kogireceiptservice_ReceiptService" serializeAs="String">
        <value>http://www.reemsonline.com/servicesinternal/receiptservice.asmx</value>
      </setting>
      <setting name="Collections_AkwaIbomReceiptServices_ReceiptService" serializeAs="String">
        <value>http://74.208.222.200/state_akwaibom/receiptservice.asmx</value>
      </setting>
      <setting name="Collections_processSms_ProcessSms" serializeAs="String">
        <value>http://www.reemsonline.com/SMS/processSms.asmx</value>
      </setting>
      <setting name="Collections_ReceiptServices_ReceiptService" serializeAs="String">
        <value>http://www.ogunstaterevenue.com/OGS_IPS/ReceiptService.asmx</value>
      </setting>
      <setting name="Collections_OyoReceiptServices_ReceiptService" serializeAs="String">
        <value>http://oyostatebir.com/OYI_IPS/ReceiptService.asmx</value>
      </setting>
      <setting name="Collections_DeltaBir_ReceiptService" serializeAs="String">
        <value>http://deltabir.com/DSI_IPS/receiptservice.asmx</value>
      </setting>
    </Collection.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.windows.forms jitDebugging="true" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
