<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BankReconciliation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BankReconciliation.Properties.Settings.TaxSmartSuiteRevised_oyoConnectionString" connectionString="Data Source=FEMSY;Initial Catalog=TaxSmartSuiteRevisedNewDelta18072016;Persist Security Info=True;User ID=sa;Password=1975" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="SecurityKey" value="ReemsonlineKeyPass7676777"/>-->
    <add key="RemoteServerName" value=""/>
    <add key="fromAddress" value="BankReconSolution@gmail.com"/>
    <add key="fromPassword" value="Password*1234"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <!--<add key="RemoteServerName" value="ICMA-SERVER" /> -->
    <!--<add key="RemoteServerName" value="ICMA-SERVER" /> -->
    <!--ogun--><!--<add key="RemoteServerName" value="SERVERMS-PC" /> -->
    <!--Delta-->
    <!--<add key="strPath" value="\\SERVERMS-PC\Users\Public\Documents" />-->
    <!--Delta state-->
    <add key="marquee" value=" Bank Reconciliation Manager --- Powered by ICMA SERVICES"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <applicationSettings>
    <BankReconciliation.Properties.Settings>
      <setting name="BankReconciliation_ReceiptCollection_SERVERREEMS" serializeAs="String">
        <value>http://www.reemsonline.com/serverreems.asmx</value>
      </setting>
      <setting name="BankReconciliation_Collections_ReceiptService" serializeAs="String">
        <value>http://www.ogunstaterevenue.com/OGS_IPS/ReceiptService.asmx</value>
      </setting>
      <setting name="BankReconciliation_ReconciliationUpload_REEMS" serializeAs="String">
        <value>http://www.reemsonline.com/interswitch/reems.asmx</value>
      </setting>
      <setting name="BankReconciliation_CentralDetla_CollectionManager" serializeAs="String">
        <value>http://www.reemsonline.com/DSI_IPS/collectionmanager.asmx</value>
      </setting>
      <setting name="BankReconciliation_Centraloyo_CollectionManager" serializeAs="String">
        <value>http://www.reemsonline.com/OYI_IPS/collectionmanager.asmx</value>
      </setting>
      <setting name="BankReconciliation_CentralAkwa_CollectionManager" serializeAs="String">
        <value>http://www.reemsonline.com/state_akwaibom/collectionmanager.asmx</value>
      </setting>
      <setting name="BankReconciliation_StateOyo_CollectionManager" serializeAs="String">
        <value>http://74.208.222.197/OYI_IPS/collectionmanager.asmx</value>
      </setting>
      <setting name="BankReconciliation_StateAkwa_CollectionManager" serializeAs="String">
        <value>http://74.208.222.200/state_akwaibom/collectionmanager.asmx</value>
      </setting>
      <setting name="BankReconciliation_StateDelta_CollectionManager" serializeAs="String">
        <value>http://www.deltabir.com/DSI_IPS/collectionmanager.asmx</value>
      </setting>
      <setting name="BankReconciliation_StateOgun_CollectionManager" serializeAs="String">
        <value>http://www.ogunstaterevenue.com/OGS_IPS/CollectionManager.asmx</value>
      </setting>
      <setting name="BankReconciliation_ProcessSms_ProcessSms" serializeAs="String">
        <value>http://www.reemsonline.com/SMS/processSms.asmx</value>
      </setting>
      <setting name="BankReconciliation_Centralogun_CollectionManager" serializeAs="String">
        <value>http://www.reemsonline.com/OGS_IPS/collectionmanager.asmx</value>
      </setting>
    </BankReconciliation.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraEditors.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2.9.0" newVersion="15.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
