<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exceptionless" type="Exceptionless.Configuration.ExceptionlessSection, Exceptionless"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="SecurityKey" value="ReemsonlineKeyPass7676777"/>
    <!--<add key="strPath" value="\\IRS-SERVER\RSS" />-->
    <!--ogun state-->
    <!--<add key="strPath" value="\\STATION-PC\Users\Public\Documents" /> -->
    <!--Oyo state-->
    <!--<add key="strPath" value="\\SERVERMS\Users\Public\Documents"/>-->
    <!--Akwa Ibom Server-->
    <!--oyo state link-->
    <!--<add key="strPath" value="\\STATION-PC\Users\Public\Documents" />-->
    <!--\\SERVERMS\Users\Public\Documents-->
    <add key="strPath" value="C:\Program Files (x86)\Common Files"/>
    <!--local System-->
    <add key="marquee" value=" Bank Reconciliation Utilies --- Powered by ICMA SERVICES"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <exceptionless apiKey="c5e992513cde40918357695eecc40f86"/>
</configuration>
