<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Collection.Properties.Settings.TaxSmartSuiteConnectionString" connectionString="Data Source=OLUWAFEMI-PC\SQLEXPRESS;Initial Catalog=TaxSmartSuiteRevised_Oyo;Persist Security Info=True;User ID=sa;Password=bond" providerName="System.Data.SqlClient"/>
        <add name="Collection.Properties.Settings.TaxSmartSuiteRevisedConnectionString" connectionString="Data Source=OLUWAFEMI-PC\SQLEXPRESS;Initial Catalog=TaxSmartSuiteRevised_Oyo;User ID=sa;Password=bond" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>
    <add key="SecurityKey" value="ReemsonlineKeyPass7676777">
    </add>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
