<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TaxSmartSuiteRevisedConnectionString" connectionString="Data Source=.;Initial Catalog=TaxSmartSuiteRevised;Persist Security Info=True;User ID=sa;Password=moses;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
