<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaxSmartUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="RemoteServerName" value=""/>
    <add key="marquee" value=" Tax Smart Utility Manager --- Powered by ICMA SERVICES"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
    <applicationSettings>
             <TaxSmartUtility.Properties.Settings>
                      <setting name="TaxSmartUtility_ProcessSms_ProcessSms" serializeAs="String">
                               <value>http://www.reemsonline.com/SMS/processSms.asmx</value>
                      </setting>
                      <setting name="TaxSmartUtility_ServiceRefernce_CollectionManager" serializeAs="String">
                               <value>http://deltabir.com/DSI_IPS/CollectionManager.asmx</value>
                      </setting>
             </TaxSmartUtility.Properties.Settings>
    </applicationSettings>
</configuration>
