<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Download.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Download.Properties.Settings>
            <setting name="Download_DeltaBir_ReceiptService" serializeAs="String">
                <value>http://deltabir.com/state_delta/receiptservice.asmx</value>
            </setting>
            <setting name="Download_OyoReceiptServices_ReceiptService" serializeAs="String">
                <value>http://74.208.222.197/state_oyo/receiptservice.asmx</value>
            </setting>
            <setting name="Download_ReceiptServices_ReceiptService" serializeAs="String">
                <value>http://www.ogunstaterevenue.com/State_Ogun/ReceiptService.asmx</value>
            </setting>
            <setting name="Download_AkwaIbomReceiptServices_ReceiptService"
                serializeAs="String">
                <value>http://74.208.222.200/state_akwaibom/receiptservice.asmx</value>
            </setting>
            <setting name="Download_Kogireceiptservice_ReceiptService" serializeAs="String">
                <value>http://kogibir.com/state_kogi/receiptservice.asmx</value>
            </setting>
        </Download.Properties.Settings>
    </applicationSettings>
</configuration>